*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.heading-div{
    background-color: #363434;
}
.height{
    height: 100vh;
   }
   

   .search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
     
   }

   .search input{

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


   }


   .search input:focus{

    box-shadow: none;
    border: 2px solid blue;


   }

   .search .fa-search{

    position: absolute;
    top: 20px;
    left: 16px;

   }

   .search button{

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: orangered;

   }

   .container-1 {
    background-image: url(../img/1.jpg);
    background-size: cover;
    height: 350px;
}


.my-btn{
    margin-top: 250px;
   
}



.container-2 {
    background-image: url(../img/7.png);
    background-size: cover;
    height: 350px;
}


.card{
    border-radius: none;
}

.truncate-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-newsletter {
    padding: 80px 0;
    background: #f32626;
    }
    
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
    }


    .business-row{
        background-image: url(../img/5.png);
        background-size: cover;
        background-position: center;
    
       
    }

    .carousel-indicators {
        list-style-type: none; 
    }
    

    .pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    position: relative;
    border: 2px solid #333;
}
.pagination li a.page-link{
    color: #333;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    height: 38px;
    width: 42px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 2px solid #333;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li:first-child a.page-link{ border-radius: 2px 0 0 2px; }
.pagination li:last-child a.page-link{
    border: none;
    border-radius: 0 2px 2px 0;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #fca664;
    border-color: #333;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content: '';
    background-color: #fca664;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-bottom: 2px solid #333;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s ease 0s;
}
.pagination li a.page-link:after{
    background-color: #fa8231;
    height: 0;
    border: none;
}
.pagination li a.page-link:hover:before{
    border-radius: 0 0 7px 7px;
    opacity: 1;
    top: 7px;
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:focus:before{
    opacity: 0;
}
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:after{
    opacity: 1;
    height: 100%;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        border: none;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 10px;
    }
    .pagination li a.page-link,
    .pagination li:last-child a.page-link{
        line-height: 34px;
        border: 2px solid #333;
    }
}

.list-spacing li {
    margin-bottom: 5px;
  }


  .my-footer{
    background-color: #363434;
  }